.radio-custom {
  display: none;
  transition: all 0.3s ease;
  &-view {
    padding-top: 6px;
    padding-left: 40px;
    display: inline-block;
    height: 25px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #585858;
    &::before {
      background-color: #fff;
      border-radius: 50%;
      content: '';
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 0 1px #E1E6E9;
      transition: all .3s ease;
    }
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #E0A700;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
    }
  }

  &:checked + .radio-custom-view {
    color: #4580E0;

    &::before {
      box-shadow: 0 0 0 2px #2FC0FF;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
  &:disabled + .radio-custom-view {
    color: #E1E6E9;
    cursor: not-allowed;
    &::before {
      background-color: #E1E6E9;
    }
  }
}

.radio-wrap {
  margin-bottom: 0;
  font-size: 0;
  &:not(:last-of-type) {
    margin-right: 31px;
  }
}

/* checkbox-custom */

.checkbox-custom-label {
  margin-bottom: 0;
}

.checkbox-custom-view {
  font-size: 17px;
  color: #a6a6a6;
  cursor: pointer;
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &::before {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, .04);
    border: 1px solid transparent;
    content: '';
    transition: all 0.3s ease;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.12);
  }
  &::after {
    width: 15px;
    height: 7px;
    top: 9px;
    left: 7px;
    position: absolute;
    border-bottom: 2px solid #33ddfb;
    border-left: 2px solid #33ddfb;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
    opacity: 0;
    transition: all 0.3s ease;
  }
}

.checkbox-custom {
  display: none;
}

.checkbox-custom:checked {
  + .checkbox-custom-view::after {
    opacity: 1;
  }
  + .checkbox-custom-view::before {
    border-color: #33ddfb;
  }
  + .checkbox-custom-view {
    color: #fff;
  }
}

