@import "mixin";

::-webkit-scrollbar { /* for Mac OS X support */
  width: 0;
}

.ui-placeholder-hide {
  @include hidePlaceholder {
    opacity: 1;
    color: #939393;
    font-size: 16px;
    transition: opacity 0.3s ease;
    @include CeraGRRegular;
  }
  &:focus {
    @include hidePlaceholder {
      opacity: 0;
    }
  }
}

.ui-group {
  margin-bottom: 35px;
  position: relative;
  font-size: 18px;
  @include CeraGRRegular;
}

.ui-label-field {
  margin-bottom: 12px;
  display: inline-block;
  font-size: 18px;
  position: relative;
}

.ui-decor-line {
  width: 0;
  height: 2px;
  display: block;
  margin-top: -2px;
  background-color: #3db8e0;
  transition: width .3s ease;
}

.ui-field {
  width: 100%;
  height: 55px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  border: 0;
  background-color: rgba(#fff, .04);
  display: block;
  font-weight: normal;
  box-shadow: 0 0 45px rgba(#000, .12);
  transition: all .6s ease;
  &:focus {
    background-color: rgba(#fff, .12);
    + .ui-decor-line {
      width: 100%;
    }
  }
}

.ui-required .ui-label-field {
  padding-left: 7px;
  &::before {
    content: '*';
    color: #fa4b4b;
    font-size: 17px;
  }
}

.ui-error-field-text {
  color: #fa4b4b;
  position: absolute;
  bottom: 19px;
  left: 20px;
  display: none;
  font-size: 16px;
}

.ui-error-field {
  .ui-field {
    background-color: rgba(#fa4b4b, .07);
    @include hidePlaceholder {
      opacity: 0;
    }
    &:focus ~ .ui-error-field-text {
      opacity: 0;
    }
  }
  .ui-error-field-text {
    display: block;
  }
}

.ui-checkbox-group {
  position: relative;
}

.ui-select-section {
  .ui-field {
    line-height: 55px;
    cursor: pointer;
  }
  .arrow {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 19px;
    right: 21px;
    fill: #3db8e0;
  }
}

.select-list-wrap {
  margin-top: -35px;
  padding: 20px 20px 20px 0;
  background-color: #141516;
  color: #a6a6a6;
  font-size: 17px;

  height: 1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;

  transition: all .3s ease;
  @include CeraGRRegular;
  .custom-scroll_container {
    height: 294px;
  }
  .custom-scroll_bar-x {
    display: none;
  }
}

.ui-select-field-open {
  height: 100%;
  margin-bottom: 35px;
  overflow: visible;
  opacity: 1;
  position: relative;
}

.select-list {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 30px;
  list-style: none;
  li {
    height: 45px;
    padding-left: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    &:hover {
      background-color: #1b1d1e;
    }
    &:not(:last-of-type) {
      border-color: #1a1c1d;
    }
    &::before {
      width: 20px;
      height: 1px;
      margin-right: 20px;
      background-color: #fff;
    }
  }
}

.select-list-choose {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.select-list-choose__item {
  padding-right: 87px;
  padding-left: 22px;
  margin-bottom: 46px;
  color: #33ddfb;
  font-size: 17px;
  display: flex;
  align-items: center;
  @include CeraGRRegular;
  &::before {
    background-color: #33ddfb;
    width: 22px;
    height: 1px;
    margin-right: 20px;
    content: '';
  }
  .close {
    margin-left: auto;
    cursor: pointer;
  }
  svg {
    width: 12px;
    height: 12px;
    fill: #fa4b4b;
  }
}

.ui-checkbox-group {
  margin-bottom: 40px;
  .ui-label-field {
    margin-bottom: 27px;
    display: block;
  }
  .checkbox-custom-label:not(:last-of-type) {
    margin-right: 42px;
  }
}

.ui-input-group {
  .ui-label-field {
    margin-bottom: 27px;
    display: block;
  }
  .ui-group {
    margin-bottom: 10px;
  }
}
