@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/ui";
@import "common/btn";
@import "common/radio-custom";
@import "blocks/header";
@import "blocks/decor-rhombus";
@import "blocks/please-choose";
@import "blocks/bread-crumbs";

.brief-box {
  margin-bottom: 40px;
}

.nav-btn {
  padding: 85px 0;
  text-align: center;
}
