.decor-rhombus {
  width: 114px;
  height: 114px;
  margin-left: -57px;
  position: absolute;
  top: 11px;
  left: 50%;
  transition: all 0.3s ease;
  transform: rotateZ(45deg);
  background: #0f5c80;
  background: -moz-linear-gradient(-45deg, #0f5c80 0%, #232525 50%);
  background: -webkit-linear-gradient(-45deg, #0f5c80 0%, #232525 50%);
  background: linear-gradient(135deg, #0f5c80 0%, #232525 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f5c80', endColorstr='#232525', GradientType=0.5);
  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &::before {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
    background: #232525;
    background: -moz-linear-gradient(-45deg, #232525 0%, #0f5c80 100%);
    background: -webkit-linear-gradient(-45deg, #232525 0%, #0f5c80 100%);
    background: linear-gradient(135deg, #232525 0%, #0f5c80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232525', endColorstr='#0f5c80', GradientType=1);
    animation: backgroundChange 3s alternate-reverse infinite;
  }
  &::after {
    width: 108px;
    height: 108px;
    top: 3px;
    left: 50%;
    margin-left: -54px;
    background-color: #181a1b;
    z-index: 5;
  }
}

.decor-rhombus-text {
  position: relative;
  z-index: 5;
  color: #33ddfb;
  font-size: 44px;
  line-height: 1;
  display: block;
  text-align: center;
  text-transform: uppercase;
  @include CeraGRMedium;
}
