.main-title {
  text-align: center;
  font-size: 44px;
  @include CeraGRBold;
  span {
    color: #33ddfb;
  }
}

header {
  padding: 60px 0 46px;
  text-transform: uppercase;
  background-color: #141516;
  .logo, .phone {
    padding-top: 17px;
    font-size: 20px;
    @include CeraGRMedium;
  }
  .phone {
    text-align: right;
  }
}
