.main-title {
  text-align: center;
  font-size: 44px;
  @include CeraGRBold;
  span {
    color: #33ddfb;
  }
}

header {
  text-transform: uppercase;
  background-color: #141516;
}

.go-home, .phone {
  font-size: 20px;
  @include CeraGRMedium;
}

.phone {
  text-align: right;
  white-space: nowrap;
}

@include from('m') {
  .go-home, .phone {
    padding-top: 17px;
  }
}

@include from('l') {
  header {
    padding: 60px 0 46px;
  }
}

@include to('m') {
  header {
    padding: 30px 0 25px;
  }
}

@include to('s') {
  header, .phone {
    text-align: center;
  }
  .go-home {
    padding-bottom: 20px;
  }
  .main-title {
    margin-bottom: 15px;
  }
}

@include to('xs') {
  .phone {
    font-size: 21px;
  }
}
