.main-title {
  text-align: center;
  font-size: 44px;
  @include CeraGRBold;
  span {
    color: #33ddfb;
  }
}

header {
  text-transform: uppercase;
  background-color: #141516;
}

.go-home, .phone {
  font-size: 20px;
  @include CeraGRMedium;
}

.phone {
  text-align: right;
  white-space: nowrap;
}
